{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Filmes Cadastrados</title>
    <link rel="stylesheet" href="{%static 'filmes/style.css' %}" />
  </head>
  <body>
    <h1>Lista de filmes</h1>
    <a href="{% url 'criar_filme'%}">Novo Filme</a>
    <ul>
      {%for filme in filmes %}
      <li>
        <strong>{{filme.titulo}}</strong>{{filme.ano}} - {{filme.genero}}
        <br />
        <img src="{{filme.capa}}" />
        <br />
        <a href="{% url 'atualizar_filme' filme.pk%}">Editar</a>
        <a href="{% url 'deletar_filme' filme.pk%}">Excluir</a>
      </li>
      {%empty%}
      <li>Nenhum filme cadastrado.</li>
      {%endfor%}
    </ul>
  </body>
</html>
